h1{
    font-family: 'Montserrat', sans-serif;
}

.post-container{
    width: 70%;/* organizando encolhendo os textos*/
    height: 100%;/*altura */
    margin: 0px auto 0px auto;
    background-color:  #fffafa;
    back
}


.post-container .date{
    font-family: Roboto, sans-serif;
    color: #008080;
   font-ty
}

